/* Basic reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Navigation bar */

header {
    background-color: #333;
    padding: 10px;
    position: relative;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #f0db4f;
}

.nav-list .active {
    font-weight: bold;
    color: #f0db4f;
}

.intro {
    text-align: center;
    margin-top: 50px;
}

.profile-pic {
    width: 150px;
    border-radius: 50%;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
}

footer {
    text-align: center;
    margin-top: 50px;
}

/* Social Icons */

.social-icons img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

/* Mobile responsiveness */

.menu-icon {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        display: none;
    }

    .nav-list.show {
        display: flex;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
    }
}
